<h4 class='form_page_header'><%= "Edit this Post about #{@post.city.name}" %></h4>

<%= render partial: 'form' %>


<!-- <div class='form_wrapper'>
  <%= form_for @post, url: {action: "update"} do |f| %>
    <label>Post title:</label><br>
    <%= text_field_tag :title, @post.title %><br>

    <label>Content</label><br>
    <%= text_area_tag :content, @post.content %><br>

    <label>Post photo:</label><br>
    <%= text_field_tag :photo, @post.photo %><br>
  <%= button_to "Update this post #{@post.city.name}", "/cities/#{@post.city_id}/posts/#{@post.id}", class: 'waves-effect waves-light btn-large' %>

  <% end %>
</div> -->
