<h3 class='form_page_header'>Enter details for your new post</h3>

<div class='form'>
  <%= form_for [@city, @post] do |f| %>
    <div class='input-field'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <br>
    <div class='input-field'>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <br>
    <div class='input-field'>
      <%= f.label :photo, "Image URL" %>
      <%= f.text_field :photo %>
    </div>
    <br>
    <%= f.submit "Create Post", :class => 'waves-effect waves-light btn-large' %>
  <% end %>
  <br>
    <%= link_to "Back", "/cities/#{@city.id}", class: "waves-effect waves-light btn-large" %>
</div>






