<h3>Enter details for your new post</h3>

<%= form_for [@city, @post] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :photo, "Image URL" %>
  <%= f.text_field :photo %>

  <%= f.submit %>
<% end %>






