<h1>Add New City</h1>

<div class='form_wrapper'>
  <%= form_for [@city, @post] do |f| %>
    <div class='form z-depth-3'>
      <div class='input-field inline'>
        <%= f.label :title, :class => "active" %>
        <%= f.text_field :title %>
      </div>
      <div class='input-field inline'>
        <%= f.label :content, :class => "active" %>
        <%= f.text_area :content, :id => "form_textarea" %>
      </div>
      <div class='input-field inline'>
        <%= f.label :photo, "Image URL", :class => "active" %>
        <%= f.text_field :photo %>
      </div>
      <div class='form_button_container'>
        <%= f.submit "Submit", :class => 'waves-effect waves-light btn-large' %>
        <%= link_to "Back", "/cities/#{@city.name.downcase}", class: "waves-effect waves-light btn-large" %>
      </div>
    </div>
  <% end %>
</div>
