<div class='city_hero_image atlanta_image'></div>
<div class='city_show_nav'>
  <h2 class= 'city_show_name'><%= @city.name %></h2>
  <%= link_to "add new post", "/cities/#{@city.id}/posts/new", class: "waves-effect waves-light btn-large" %>
</div>

<% @posts.each do |post| %>
<a href=<%= "/cities/#{post.city_id}/posts/#{post.id}" %>>
  <div class='city_show_posts_container'>
    <%= image_tag(post.photo, alt: "Post photo", class: "post_image") %>
    <div class='city_show_post_info'>
      <p class= 'city_show_post_link'><strong><%= post.title %></strong></p>
      <p><%= truncate(post.content, :length => 1000) %></p>
      <p><small><%= "Posted by: #{post.user.email} at: #{post.created_at}" %></small></p>
    </div>
  </div>
</a>
<% end %>
