<h2><%= @city.name %></h2>
<%= link_to "add new post", "/cities/#{@city.id}/posts/new" %>

<%= image_tag(@city.photo, alt: "Photo of Atlanta", class: "city_image") %>

<% @posts.each do |post| %>
  <div>
    <p><strong><%= link_to post.title, "/cities/#{post.city_id}/posts/#{post.id}" %></strong></p>
    <p><%= post.content %></p>
    <%= image_tag(post.photo, alt: "Post photo", class: "post_image") %>
  </div>
<% end %>

